@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General */
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  background-color: rgb(22,22,22);
  font-family: 'barlow', sans-serif;
}

section {
  min-height: 100vh;
}

.section-title h2 {
  font-size: 4rem ;
  font-weight: 500;
  color: white;
}
h2 {
  color: rgba(255, 255, 255, 0.586);
}

/* =========================
   Navigation / Burger
   ========================= */

.menu-icon{
  position: fixed;
  top: 15px; left: 15px;
  width: 2rem; height: 2rem;
  display: flex; flex-direction: column; justify-content: space-around;
  cursor: pointer; z-index: 10;
}
.menu-icon div{
  height: 0.25rem;
  background: white;
  transition: all 0.3s ease-in-out;
}
.active .bar1{ transform: translateY(0.6rem) rotate(-45deg); }
.active .bar2{ opacity: 0; }
.active .bar3{ transform: translateY(-0.75rem) rotate(45deg); }

.nav-wrapper {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
nav {
  position: fixed; 
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  width: 200px;
  z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  height: 85%;
  font-size: 2rem;
}

nav ul li {
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: white;
  

  &:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid white;
    transition: all 0.3s ease-in-out;
  
}

  }


nav.active{ transform: translateX(0); }


/* =========================
   Home Section
   ========================= */
#home {
  display: grid;
  place-items: center;


}
   .slideshow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slideshow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);

}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
}

.slide.active {
  opacity: 1;
  
}


/* title  */

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.page-title h1 {
  color: white;
  font-size: 5rem;
  margin: 0;
  font-weight: 200;
}


/* scroll down animation  */

.mouse {
  width: 45px;
  height: 80px;
  border: 3px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
}

  .mouse::before {
    content: '';
    width: 7px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    animation: wheelanimation 1.5s infinite;
  }

  @keyframes wheelanimation {
    to {
      opacity: 0;
      top: 60px;
  } 

}

/* about section */

.about-container  {
  display: grid;
  place-items: center;
}

.about-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
grid-gap: 5px;
color: white;
width: 50vw;
}

.box1 { grid-area: 1 / 1 / 3 / 3; }
.box2 { grid-area: 3 / 1 / 5 / 2; }
.box3 { grid-area: 3 / 2 / 5 / 3; }
.box4 { grid-area: 5 / 1 / 7 / 2; }
.box5 { grid-area: 5 / 2 / 7 / 3; }
.box6 { grid-area: 7 / 1 / 9 / 3; }

.about-grid div {
  background-color: #264653;
  display: grid;
  place-items: center;
  line-height: 1.5;

}
.htmlcertificate {
  width: 65%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-box {
  box-sizing: border-box;
  width: 75ch;

  padding: 70px;
}

.icon-box {
  padding: 20px;
  text-align: center;
  color: black;
}

.icon-box i {
  font-size: 52px;
}

.icon-box:nth-child(2) {
  background-color: #2A9D8F;
}
.icon-box:nth-child(3) {
  background-color: #E9C46A;
}
.icon-box:nth-child(4) {
  background-color: #F4A261;
}
.icon-box:nth-child(5) {
  background-color: #E76F51;
}

/* Project section -------------------------*/

.projects-container {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 25px;
}

.projects-grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 20%;
}

/* Mobile View 1 column */

.projects-grid {
  grid-template-columns: 1fr;
}

/* tablet view: 2columns of 3 */

@media only screen and (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop view: 3 columns of 2 */

@media only screen and (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}
.grid-item img {
  max-width: 300px;
  cursor: pointer;
}

.mockup {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

.github-link, .live-link {
  margin-top: 8px;
  padding: 6px 12px;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: white;

  &:hover {
    background-color: #333;
  }
}

/* Contact Section -------------------------*/ 
#contact{
--parallelowow-tile-width: 60;
  --parallelowow-base-color: #FF5566;
  --parallelowow-color-step: 0;
  --parallelowow-probability: 0.25;
  --parallelowow-stroke-weight: 0.5;
  background: paint(parallelowow), var(--parallelowow-base-color);
  color: white;
}

.contact-container {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0.5));
  
}

.banner-link {
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: white;
}

.banner {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100vw;
  height: 50px ;
  background-color: #7d0e0e;
  overflow: hidden;
  transform: rotate(-5deg);
  transform-origin: 0 100%;
  display: flex;
  align-items: center;

}

.banner-content {
  white-space: nowrap;
  display: inline-block;
  position : absolute;
  left: 0;  
  animation: scrollBanner 80s linear infinite;
  transition: font-size 0.3s ease-in-out;
  font-size: 1rem;

  &:hover {
    font-size: 1.05rem;
  }
}

.contact-message {
  margin-right: 50px;
}

@keyframes scrollBanner {
  0% {transform: translateX(-50%);}
  100% {transform: translateY(50%);}
}

/* footer */

footer {
  position: relative;
}

.social-media-icons {
 width: 100%;
 font-size: 30px;
 position: absolute;
 bottom: 60px;
 display: flex;
 justify-content: center;
 
}


.social-media-icons i {
  cursor: pointer;

  &:hover {
    transform: scale(1.5, 1.5);
  }
}
.social-media-icons:hover > .fa-brands:not(:hover) {
  transform: scale(1, 1);
  filter: blur(5px);
  transition: transform 0.8s ease, filter 0.8s ease;
}




.social-media-icons i:not(:first-child) {
  margin-left: 10px;
}

footer small {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Media queries---------------- */

/* All mobile devices */
@media screen and (max-width: 1180px) {
  html {
    scroll-behavior: auto;
  }
  nav {
    width: 100%;
    background: black;
  }
  nav ul {
    padding-left: 0;
  }
}

/* /Tablet Vertical (Large) */

@media screen and (orientation: portrait) and (max-width: 1180px){
 .about-grid {
    width: 80vw;
  } 

  .text-box {
    padding: 50px;
    width: 80vw;
  }

  .projects-grid {
    margin: 0 10%;
  }
 .banner {
    transform: rotate(0deg);
  }
 
}

/* Tablet Horizontal (Large) */

@media screen and (min-width:800px) and (max-width: 1180px) {
  .about-grid {
    width: 80vw;
  }

  .text-box {
    padding: 50px;
    width: 70ch;
  }

  .projects-grid {
    margin: 0 10%;
  }
}

/* tablet Horizontal (small) */

@media screen and (orientation: landscape) and (max-height: 769px) {
  .section-title h2 {
    font-size: 3rem ;
}

 .banner {
    transform: rotate(0deg);
  }
}

/* Smartphone Horizontal*/

@media screen and (min-width: 600px) and (max-width: 950px) {
  .page-title h1 {
    font-size: 4rem;
  }
  .banner {
    bottom: 80px
  }
}

/* Smartphone Vertical*/

@media screen and (max-width:600px) {
  

  .section-title h2 {
    font-size: 3rem ;
  }

  .about-grid {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .box1, .box2, .box3, .box4, .box5, .box6 {
    grid-area: unset;
    grid-column: 1;
  }

  .text-box {
    padding: 40px;
    width: 90vw;
  }
  p {
    padding: 30px ;
  }

  .banner {
    transform: rotate(0deg);
  }
}

/* scroller - skills */

.scroller {
  max-width: 800px;
}
li {
 letter-spacing: 2px;
}
.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

i {
  padding-right : 10px;
}